<section class="bg-[#203923] h-[34px] items-center text-white flex justify-center  text-[13px]">
  <p>{{section.settings.announcementText | upcase}}</p>
</section>


{% schema %}


  {
    "name": "Announcement Bar",
    "settings": [
      {
        "type": "text",
        "id": "announcementText",
        "label": "announcementText.text",
        "default": "FREE SHIPPING IN THE EU FOR ORDERS OVER €200"
      }

    ]
  }
{% endschema %}