<section class="flex items-center flex-col">

  <h2>Ordering & Payment</h2>
  <section>
    <p>Which size should I order</p>
  </section>

  <h2>Shipping</h2>
  <section></section>

  <h2>Return & Exchanges</h2>
  <section></section>

  <h2>Product</h2>
  <section></section>


</section>