<div class="homepage">

  <h1>Homepage</h1>
  <p>{% render 'homepage-text' %}</p>


</div>


{% schema %}
  {
    "name": "Homepage",
    "templates": [
      "index", "product", "page"
    ],
    "settings": [],
    "blocks": [
      {
        "type": "@app"
      }
    ]

  }
{% endschema %}